<% layout('/layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <!-- Submit the form will invoke a PUT request (overrides POST request) to localhost:3000/campgrounds/:id.  -->
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%=campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Create an input to upload the image(s).  -->
                <div class="mb-3">
                    <label class="form-label" for="description">Add Image(s): </label>
                    <div></div>
                    <input type="file" id="image" name="image" multiple>
                </div>
                <!-- Use forEach to display each image of the images array.  Each checkbox has an id, first image's id is 'image-1'.  
                Set the name to "deleteImages[] and value equal to the element's filename.  img.thumbnail, the thumbnail variable 
                come from campground.js, which is a link to the thumbnail version of the original image, which is 200 pixels wide.  -->
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="...">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>

        </div>
    </div>